<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Host" value="smtp.gmail.com" />
        <add key="Port" value="587" />
        <add key="Email" value="" />
        <add key="Password" value="" />
    </appSettings>
    <connectionStrings>
        <add name="mailLog" connectionString="Host=localhost;Database=mailLog;User Id=postgres;Password=admin;" />
    </connectionStrings>
</configuration>